<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/feedback</property>
        <property name="hibernate.connection.username">Ashish</property>
        <property name="hibernate.connection.password">ddddddd</property>

        <!-- Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- this tells hibernate that we are using mysql so generate sql query according to mysql -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- possible values for this are :
        create-drop : drop the database and create a new one
        create : create the database
        update : update the database
        validate : validate the database
        none : do nothing
        -->
        <property name="hibernate.use_sql_comments">true</property>

        <!-- Map entity classes -->
        <mapping class="com.feedback.entity.Feedback"/>
    </session-factory>
</hibernate-configuration>

